<footer>
  <div class="container">
    <hr>
    <div class="text-center">
      <p>
        © <%= theme.site_start_time %> - <%= date(Date.now(), 'YYYY') %> <%= config.author %> |
        <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
      </p>
      <p>
        <a href="<%= url_for(theme.links.about) %>">About Me</a> |
        <a href="<%= url_for(theme.links.feed) %>">Feed</a>
      </p>
    </div>
  </div>
</footer>

<div id="hidden-attribute">
  <input id="swiftype-key" type="hidden" value="<%= theme.swiftype_key %>">
</div>
