<script type="text/javascript">
  var num = Math.ceil((new Date().getMinutes() + 1) / 10) * (new Date().getHours() % 2 + 1);
  document.getElementsByTagName("body")[0].style.backgroundImage = 'url("/img/bg' + num + '.jpg")';
</script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#blog-header-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= config.title %></a>
    </div>
    <div class="collapse navbar-collapse" id="blog-header-navbar">
      <ul class="nav navbar-nav">
        <% for (var i in theme.menu){ %>
          <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
        <% if(theme.catena){ %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Catena <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% for (var i in theme.catena){ %>
                <li><a href="<%- url_for(theme.catena[i]) %>"><%= i %></a></li>
              <% } %>
            </ul>
          </li>
        <% } %>
      </ul>

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control st-default-search-input" placeholder="Search">
        </div>
      </form>
    </div>
  </div>
</nav>
